

<p><%=  comment.commenter %> 
<i>says...
<%= comment.body %></i></p>
<%= link_to 'Remove comment', [comment.article, comment],
            method: :delete,
            data: {confirm: 'Are you sure?'} %><br>       
